body {
  margin: 0;
  background-image: url(./likelion_hcmc.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(30, 29, 29, 0.6);
}
.container div {
  font-size: 5rem;
}
p {
  font-size: 5rem;
}
strong {
  color: coral;
  font-size: 8rem;
}

#demo {
  font-size: 6rem;
}
